<div *ngIf="mostrar == false">
  <h3>Actividad Parcial Práctico PAV II - 4K2</h3>
  <div class="row justify-content-center pb-3">
    <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus-circle"> </span> Agregar
    </button>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Producto ID</th>
        <th class="text-center">Producto Nombre</th>
        <th class="text-center">Cantidad Stock</th>
        <th class="text-center">Fecha Alta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dto of Lista">
        <td>{{dto.ProductoID}}</td>
        <td class="text-right">{{dto.ProductoNombre}}</td>
        <td class="text-right">{{dto.ProductoStock}}</td>
        <td class="text-right">
          {{dto.ProductoFechaAlta | date: "dd/MM/yyyy"}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="mostrar == true">
  <h3>Agregar Productos</h3>
  <form name="FormReg" [formGroup]="FormReg" class="bg-light">
    <div class="form-group row pb-3">
      <label
        class="col-form-label col-sm-2 col-sm-offset-2"
        for="ProductoNombre"
      >
        Producto Nombre <span class="text-danger">*</span></label
      >
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="ProductoNombre"
          [ngClass]="{'is-invalid': (FormReg.controls.ProductoNombre.touched )  
          && FormReg.controls.ProductoNombre.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormReg.controls.ProductoNombre.touched ) 
                      && FormReg.controls.ProductoNombre.errors?.required"
        >
          Dato requerido.
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2 col-sm-offset-2" for="ProductoStock"
        >Producto Stock<span class="text-danger">*</span></label
      >
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="ProductoStock"
          [ngClass]="{'is-invalid': (FormReg.controls.ProductoStock.touched )  
          && FormReg.controls.ProductoStock.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormReg.controls.ProductoStock.touched) 
                      && FormReg.controls.ProductoStock.errors?.required"
        >
          Dato requerido.
        </span>
      </div>
    </div>


    
    <div class="form-group row">
      <label class="col-form-label col-sm-2 col-sm-offset-2">
        Producto Fecha Alta (MM/DD/AAAA) <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          class="form-control"
          name="ProductoFechaAlta"
          formControlName="ProductoFechaAlta"
          [ngClass]="{'is-invalid': (FormReg.controls.ProductoFechaAlta.touched || submitted)  && FormReg.controls.ProductoFechaAlta.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormReg.controls.ProductoNombre.touched || submitted) && FormReg.controls.ProductoFechaAlta.errors && FormReg.controls.ProductoFechaAlta.errors.required "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="(FormReg.controls.ProductoNombre.touched || submitted) && FormReg.controls.ProductoFechaAlta.errors?.pattern"
        >
          Dato fecha, formato dd/mm/aaaa.
        </span>
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary" (click)="Grabar()">
        <span class="fas fa-check"></span> Grabar
      </button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="Volver()">
        <span class="fas fa-undo"></span> {{'Cancelar'}}
      </button>
    </div>
  </form>
</div>
